/* Defaults */
body { margin: 0; padding: 0; } 
span { margin: 0; padding: 0; } 
a { color: inherit; text-decoration: none; font-family: inherit; }
h1, h2, h3, h4, pre, p, figure { padding: 0; margin: 0; font-size: inherit; font-weight: inherit; } 
.custom-body-width { width: 1170px; } 
button { all: unset; }

/* Perfect Background Image Alignment */
.backgroundimage { background-image: url("images/main.png"); width: 100%; height: 100%; background-size: contain; background-repeat: no-repeat; position: absolute; display: block; z-index: -1; transform: scaleY(1.264); transform-origin: top; } 
nav { z-index: 0; }

/* Upper Navbar */ 
.top-navbar { display: flex; justify-content: center; color: #707070; height: 40px; background-color: #191919; } 
.top-navbar-items { height: inherit; display: flex; justify-content: space-between; align-items: center; } 
.top-navbar-icon { font-size: 17px; margin-top: 3px; } 
.top-navbar-icon:hover { color: white; } 
.top-navbar-left { display: flex; gap: 13.5px; height: inherit; align-items: center; justify-content: flex-start; margin-top: 1px; } 
.top-navbar-right { display: flex; height: inherit; align-items: center; justify-content: flex-start; box-sizing: border-box; justify-content: flex-end; width: 16%; padding-bottom: 1px; } 
.top-navbar-right-flex { display: flex; align-items: center; padding: 1px 0px 1px 0; } 
.top-navbar-right-text { font-family: 'Montserrat', sans-serif; font-size: 12px; margin-left: 5px; font-weight: 600; } 
.signin { border-right: 2px solid #707070; padding-right: 13px; } 
.lang { width: 35.00%; justify-self: flex-end; margin-left: 13px; } 
.material-icons.custom-font { font-size: 18px; padding: 0px;} 
.material-icons-outlined.custom-font { font-size: 18px; } 

/* Main Navbar till Comments */ 
.web-front { font-family: 'Montserrat', sans-serif;  display: flex; flex-direction: column; align-items: center;} 
.web-front-navbar-container { height: 66px; color: white; display: flex; align-items: center; } 
.web-front-navbar-center { margin-left: 105px; height: inherit; display: flex; align-items: center; gap: 9px; } 
.web-front-navbar-center-button { padding-top: 8px; padding-left: 14px; border-bottom: 4px solid transparent; justify-content: flex-end; gap: 3.2px; letter-spacing: 0.4px; font-size: 14px; height: inherit; font-weight: 700; display: flex; align-items: center; } 
.web-front-navbar-center-button:hover { border-bottom: 4px solid #ff4081; } 
.web-front-navbar-center-button.home { padding-left: 16px; } 
.web-front-icon-container { padding: 6px 2px 0px 7px; display: flex; justify-content: end; width: 100%; align-items: center; } 
.material-icons.web-front-expand-icon { font-size: 20px; padding-bottom: 1px; padding-left: 2px; } 
.custom-web-front-icon { padding: 2px 12px; } 
.custom-web-front-icon.heart { border-left: 1px solid white; border-right: 1px solid white; padding: 2.35px 11px; } 
.material-icons-outlined.web-front-icon-font { font-size: 24px; } 
.material-icons.web-front-icon-font { font-size: 24px; } 
.pasco-text { font-size: 24px; letter-spacing: 1px; font-weight: 700; padding-bottom: 1px; margin-left: -2px; } 
.front-web-front { width: 55.34%; padding-top: 216px; color: white; display: flex; flex-direction: column; align-items: center; } 
.front-web-front-inspiration { font-size: 20px; font-weight: 400; padding-left: 2px; font-weight: 400; } 
.front-web-front-millennial { font-size: 42px; font-weight: 900; text-transform: uppercase; padding: 14px 0px 1px 16px; text-align: center; } 
.front-web-front-button { background-color: #2f3f9f; height: 44px; width: 20%; font-size: 18px; padding-top: 2px; margin-top: 28.5px; margin-left: 1px; padding-right: 1px; text-align: center; box-sizing: border-box; border-radius: 99px; cursor: pointer; } 
.front-web-front-author { display: flex; align-items: center; margin-top: 80px; padding-right: 3px; box-sizing: border-box; flex-direction: column; } 
.web-front-author-img { border-radius: 50%; height: 52px; width: 57.453%; object-position: center; object-fit: cover; } 
.web-front-author-link { display: flex; flex-direction: column; align-items: center; } 
.web-front-author-name { font-weight: 700; font-size: 13px; letter-spacing: 1px; margin-top: 16px; padding-left: 1px; } 
.web-front-author-date { font-size: 13px; margin-top: 9px; color: #8d8c8d; letter-spacing: 0.3px; font-weight: 400; display: flex; justify-content: start; align-items: center; padding-left: 8.7px; gap: 12px; } 
.web-front-comments-likes { letter-spacing: 0.5px; margin-top: 16px; display: flex; margin-right: 8px; padding-top: 16.5px; font-size: 12px; gap: 27.5px; } 
.web-front-comments-likes-flex { color: #bdbdbd; display: flex; gap: 5.8px; align-items: center; } 
.material-icons-outlined.likes { font-size: 17px; } 
.material-icons.comments { font-size: 17px; } 

/* Do not disturb Above */

/* Sort Blog Navbar */
.blogs-data { margin-top: 67px; display: flex; flex-direction: column;  align-items: center; background-color: #f5f5f5; } 
.blogs-data-nav-container { font-family: 'Montserrat', sans-serif; color: #202020; background-color: white; display: flex; align-items: center; height: 59px; justify-content: center; padding: 0 173px; margin-right: 3px; } 
.blogs-data-nav { display: flex; align-items: center; margin-bottom: 1px; gap: 18px; } 
.blogs-data-nav-label { color: #3f51b5; border-radius: 99px; padding: 8px 30px 6px 25.8px; cursor: pointer; font-size: 11.6px; background-color: #f5f5f5; font-weight: 600; border-radius: 99px; color: #202020; border: 1px solid transparent;} 
.blogs-data-sort { margin-top: 1px; margin-right: 5px; font-weight: 700; font-size: 11.6px; }  
.clicked {border: 1px solid #3f51b5; color: #3f51b5; border-radius: 99px; background-color: white;}

/* Perfected Till Here */

/* Grid Alignment */ 
.blogs-data-content { margin-top: 30px; }
    /* display: flex; justify-content: space-between; }  */
/* .blogs-data-article-container { width: 70%; }  Add below items when adding blogs */
/* Grid styling */ 

/* Add some column-gap when more rows are introduced also specify this grid-template-columns accordingly */
.blogs-data-article-container { width: 70%; display: grid; row-gap: 21px; } 

/* Adjust below properties accordingly */
/* .top-item { grid-column: span 6; }  */
/* .mid-top-grid-align { grid-column: span 6; } */

/* Grid styling */ 
    /* display: grid; column-gap: 20.5px; row-gap: 20.35px; grid-template-columns: repeat(6, 1fr); }  */

/* Article Alignment and Seperate Color*/ 
.top-item, .mid-top { background-color: white; border-radius: 3px;  display: flex; flex-direction: column; box-shadow: 1px 1px 3px #e0e0e0; }
.mid-top { flex-direction: row; height: 165.5px; }  
/* Add bottom, mid and top items */
.top-item{ margin-top: 1px; }
/* Blogs-data article image heights */ 
.top-item .blogs-data-img-container {height: 420px;} 
.mid-top .blogs-data-img-container { height: 100%; width: 458px; } 

/* Text */ 
.blogs-data-margin-top{ margin-top: 3px; }
.blogs-data-text-heading {letter-spacing: 0.35px; word-spacing: 0.38px; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 18px; line-height: 24px; padding: 11px 20px 5px 19px; margin-top: 2.5px;} 
.blogs-data-text-body {letter-spacing: 0.58px; word-spacing: 0.33px; font-family: 'Open Sans'; font-weight: 400; line-height: 26px; font-size: 16px; padding: 0px 19px 13px 19px; } 
.mid-top .blogs-data-text-heading {letter-spacing: 0.480px; word-spacing: 0.0849px; font-size: 16px; padding: 4px 19px 5px 17px; margin-top: 4px;} 
.mid-top .blogs-data-text-body {letter-spacing: 0.51px; font-size: 14px; line-height: 21.5px; padding: 0px 19px 14.5px 17.5px; } 

/* Author */ 
.blogs-data-author-container { padding: 19px 0px 16.5px 17px; font-family: 'Montserrat', sans-serif; border-top: 0.5px solid #e0e0e0; display: flex; justify-content: space-between; align-items: center; } 
.blogs-data-author-left { display: flex; align-items: center; } 
.blogs-data-author-details {padding-left: 5px; display: flex; flex-direction: column;} 
.blogs-data-author-name {letter-spacing: 0.269px; font-weight: 700; font-size: 14.5px; margin-bottom: 7px; margin-left: 5px; font-weight: 700; } 
.blogs-data-author-date {letter-spacing: 0.5px; word-spacing: 0.9px; font-size: 12px; color: #8d8c8d; font-weight: 400; display: flex; margin-left: 4.5px; justify-content: start; align-items: end; gap: 12px; padding-bottom: 2.5px; } 
.mid-top .blogs-data-author-container {padding: 7.5px 0px 9.72px 18.75px;} 
.mid-top .blogs-data-author-name { margin-left: 4px; margin-bottom: 6.8px; } 
.mid-top .blogs-data-author-date{margin-left: 4px;} 

/* Icons, 3 dots vertical */ 
.material-icons-outlined.vert { margin-bottom: 1px; padding-right: 11px; } 
.blogs-data-img { width: 100%; height: 100%; object-position: center; object-fit: cover; border-radius: 3px; } 

/* Align Image */
.blogs-data-img-container { position: relative; color: white; font-size: 12px; } 
.blogs-data-img-container::after { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; border-radius: 3px; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%); } 


/* Blogs-data category */ 
.blogs-data-category { font-family: 'Montserrat', sans-serif; position: absolute; z-index: 1; bottom: 17px; left: 18px; } 
.mid-top .blogs-data-category {bottom: 17.2px; left: 18.8px;} 

/* Blogs-data comments likes */ 
.blogs-data-comments-likes { position: absolute; bottom: 15.5px; font-family: 'Montserrat', sans-serif; right: 19.8px; z-index: 1; display: flex; align-items: center; justify-content: space-between; width: 10.313%; } 
.blogs-data-comments, .blogs-data-likes { margin-bottom: 1px; display: flex; font-size: 13px; align-items: center; gap: 6px; margin-right: 20px; flex-direction: row; } 
.mid-top .blogs-data-comments-likes { right: 19px; bottom: 15.58px; width: 31.93%; } 

/* Play button */ 
.blogs-data .material-icons-outlined.center-icon { position: absolute; top: 50%; left: 50%; cursor: pointer; transform: translate(-50%, -50%); } 
.top-item .material-icons-outlined.center-icon {font-size: 60px;} 
.mid-top .material-icons-outlined.center-icon {top: 50.85%; left: 50.4%; font-size: 45.7px;} 
.mid-bottom .material-icons-outlined.center-icon {font-size: 46.1px;} 
